*.suo
*.snk
/.vs
/.vscode
*/bin
*/obj
*.exe
*.log
*.pdb
*.db
*.swp
*.DotSettings.user
/packages
/FDK/bin
/OpenTaiko/bin
/OpenTaiko/Cache
/OpenTaiko/Capture_img
/OpenTaiko/Config.ini
/OpenTaiko/bs1770gain**
/Test/dll/CSharpTest.Net.Collections.*
/Test/dll/SlimDX.*
/Test/dll/FDK.dll
/OpenTaiko/NamePlate.json
/OpenTaiko/Favorite.json
/OpenTaiko/RecentlyPlayedSongs.json
/OpenTaiko/SongsIgnored/*
/OpenTaiko/SongsTest/*
/OpenTaiko/SongsIgnored2/*
/OpenTaiko/Saves

/Test/dll/bass_fx.dll
/Test/dll/bass.dll
/Test/dll/bassasio.dll
/Test/dll/bassenc.dll
/Test/dll/bassmix.dll
/Test/dll/basswasapi.dll

/Test/System/SimpleStyle 1080p (indev0.6.0)
/Test/System/BasicStyle
/Test/System/OpenSkin
/Test/System/SimpleStyle - コピー
/Test/System/Open-World Memories
/Test/Global/Characters/D
/Test/Global/Characters/Ume
/Test/Global/Characters/Kuro
/Test/Global/Characters/Aitritus
/Test/Global/Characters/Aoi
/Test/Global/Characters/Kohaku
/Test/Global/Characters/Student (A)
/Test/Global/Characters/Student (B)
*.score.ini
OpenTaiko/System/Open-World Memories.zip