*.suo
*.snk
/.vs
*/bin
*/obj
*.exe
*.log
*.pdb
*.db
*.swp
*.DotSettings.user
/packages
/Test/Cache
/Test/Capture_img
/Test/Config.ini
/Test/bs1770gain**
/Test/dll/CSharpTest.Net.Collections.*
/Test/dll/SlimDX.*
/Test/dll/FDK.dll
/Test/NamePlate.json
/Test/Favorite.json
/Test/RecentlyPlayedSongs.json
/Test/SongsIgnored/*
/Test/SongsIgnored2/*
/Test/xadec.dll
/Test/SoundDecoder.dll
/Test/msvcr90.dll
/Test/msvcp90.dll
/Test/msvcm90.dll
/Test/Microsoft.VC90.CRT.manifest
/Test/bass_fx.dll
/Test/bass.dll
/Test/bassasio.dll
/Test/bassenc.dll
/Test/bassmix.dll
/Test/basswasapi.dll

/Test/dll/bass_fx.dll
/Test/dll/bass.dll
/Test/dll/bassasio.dll
/Test/dll/bassenc.dll
/Test/dll/bassmix.dll
/Test/dll/basswasapi.dll

/Test/System/0.JpnNijiiro
/Test/System/BasicStyle
/Test/System/OpenSkin
/Test/Global/Characters/Don
uniqueID.json
*.score.ini
